---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=2063971865&To=11111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNjNmNlZjJmYmVkMDRlN2E3ZDdkNThlZmE3ZmEzNGMzZjphMzZjMzZmNTVjMjVjYWNhMGZjYTdjNWE5OThiYzI1Ng==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.104'
      Twilio-Request-Id:
      - RQd965e04bc288421f909c89583bcf7dd8
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 26 Sep 2016 18:00:11 GMT
recorded_with: VCR 3.0.3
